<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="{{ site.repository_url }}">View on GitHub</a>

    <p id="project_title">{{ site.title }}</p>
    <p id="project_tagline">{{ site.tagline }}</p>

    <!--section id="downloads">
      <a class="zip_download_link" href="{{ project.zip_url }}">Download this project as a .zip file</a>
      <a class="tar_download_link" href="#">Download this project as a tar.gz file</a>
    </section-->
  </header>
</div>
