<div id="fb-root"></div>

<div id="contact">
    <a class="fhidden">Contact</a>
    <ul class="links">
        <li><a class="icomoon" href="//twitter.com/pirhoo" class="open-window" title="Twitter">!</a></li>
        <li><a class="icomoon" href="//github.com/pirhoo" class="open-window" title="GitHub">$</a></li>
        <li><a class="icomoon" href="//www.facebook.com/pierre.romera" class="open-window" title="Facebook">"</a></li>
        <li><a class="icomoon" href="//plus.google.com/117367092223426078440/" class="open-window" title="Google+">%</a></li>
        <li><a class="icomoon" href="mailto:hello@pirhoo.com" title="hello@pirhoo.com">*</a></li>
    </ul>
</div>

<menu>
    <div class="me section">
        <h2><a class="active" href="#me">Qui suis-je ?</a></h2>
    </div>

    <div class="filters section">
        <h2><a class="" href="#works">Mes travaux</a></h2>
        <ul>
            <li class="icon all"><a href="#all" class="selected">Tous</a></li>
            <li class="icon ddj"><a href="#ddj">Data-Journalism / Webapp</a></li>
            <li class="icon site"><a href="#site">Site</a></li>
            <li class="icon speach"><a href="#speach">Cours / Conférence</a></li>
        </ul>
    </div>

    <div class="share">

        <span class="fb"><fb:like send="false" href="http://www.pirhoo.com/" layout="button_count" width="100" show-faces="false" font="arial"></fb:like></span>

        <a href="http://twitter.com/share" data-text="Je suis en train de consulter le portfolio de @Pirhoo, développeur et data-journaliste" data-url="http://www.pirhoo.com/" class="twitter-share-button" data-related="pirhoo" data-count="horizontal">Tweet</a>

        <g:plusone size="medium" href="http://www.pirhoo.com/"></g:plusone>

    </div>
</menu>
