
<!-- build:js({app,.tmp}) ./js/script.js -->
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/gray/js/jquery.gray.min.js"></script>
<script src="/_bower_components/jquery-masonry/jquery.masonry.min.js"></script>
<script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
<script src="/_bower_components/jquery-transform/jquery.transform2d.js"></script>
<script src="/_bower_components/jquery-waypoints/waypoints.min.js"></script>
<script src="/_bower_components/meny/js/meny.min.js"></script>
<script src="/_bower_components/modernizr/modernizr.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->

<!--[if lt IE 9 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25790333-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

