<section class="screen active" id="me">
    <h1 class="hidden">
        Pierre Romera
        <img src="./img/arrow-right.png" class="arrow" alt="" />
        Qui suis-je ?
    </h1>

    <h2>
        Directeur Général et co-fondateur de <a href="http://jplusplus.org">Journalism++</a>
    </h2>
    <p class="desc">
        Journalism++ est une agence de <a href="https://fr.wikipedia.org/wiki/Journalisme_de_donn%C3%A9es">Journalisme de données</a>.
    </p>

    <h2>
        Enseignant à l'<a href="http://www.journalisme.sciences-po.fr" target="_blank">École de Journalisme de Science Po</a>
    </h2>
    <p class="desc">J'initie les journalistes au développement web et à l'utilisation de formats innovants.</p>

    <h2>
        Formateur et conférencier (<a href="http://esj-lille.fr/">ESJ Lille</a>, <a href="http://www.cfpj.com/ecole-de-journalisme/">CFJ Paris</a>, <a href="http://wbi.worldbank.org">World Bank Institue</a>, etc)
    </h2>
    <p class="desc">
        J'interviens pour parler de <strong>Journalisme de données</strong> et de la collaboration entre journalistes et développeurs.
    </p>

    <h2>Développeur Freelance</h2>
    <p class="desc">
        Python, Django, Node.js, Angular, D3, HTML5, Data Visualisation, ...
    </p>

    <div class="before">
        <h2>
            Directeur Général Délégué chez <a href="http://owni.fr">OWNI</a>/<a href="http://22mars.com">22mars</a>
        </h2>
        <p class="desc">
            OWNI était un media en ligne, pionnier français du Data Journalism.
        </p>
    </div>

    <br class="breaker" />
</section>
